projectFilesBackup/*
target
.idea
.DS_Store
project/target/*

.idea/workspace.xml

.idea/libraries/SBT__com_ning_async_http_client_1_8_8.xml

.idea/libraries/SBT__com_thoughtworks_paranamer_paranamer_2_4_1.xml

.idea/libraries/SBT__io_netty_netty_3_9_0_Final.xml

.idea/libraries/SBT__net_databinder_dispatch_dispatch_core_2_11_0_11_1.xml

.idea/libraries/SBT__net_liftweb_lift_json_2_11_2_6_RC1.xml

.idea/libraries/SBT__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_1.xml

.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_11_1_0_2.xml
